@import url(https://fonts.googleapis.com/css?family=Roboto:400,400italic,500,500italic,700,700italic,300,300italic);
.transitionKind {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

$lt : 400; 
$med  : 500; 
$hvy  : 700; 
/*******************************************************************************************************************
*  BASE                                                                                                            
*******************************************************************************************************************/

* {
    margin: 0;
    padding: 0;
}
body {
    color: #727272;
    font: normal 13px 'Roboto', sans-serif;
    p {
        line-height: 1.5em;
        margin-bottom: 15px;
    }
}

/**Layout                                                                                                   
*********************/

.wrap {
    margin: 0 auto;
    position: relative;
    max-width: 1000px;
    padding: 0 20px;
}
.col {
    width: 48%;
    position: relative;
    margin-bottom: 20px;
}
.floatLeft {
    float: left !important;
}
.floatRight {
    float: right !important;
}
.section {
    display: block;
}

/**  CONTENT                                                                                                         
*******************/

#content {
    padding: 40px 0 50px;
    .cols {
        margin-bottom: 30px;
    }
}

/**  H1 - H4                                                                                                         
**********************/

$number:6;
$base-font-size: 16;
$scale: 8;
$marginbottom:.50;

.basefont {
    font-family: 'Roboto', sans-serif;
}
.dark {font-weight:$hvy};


@for $i from $number through 1 {
    h#{$i} {
        font-size: $base-font-size+px;
        margin-bottom: ($base-font-size*$marginbottom+px);
        @extend .basefont;
    }
    $base-font-size: $base-font-size+$scale;
}



$base-font-size: 16;

@for $i from $number through 1 {

    .fontsize-#{$i}
    {
        font-size: $base-font-size+px;
        @extend .basefont;
         color: #424242;
    }
   $base-font-size: $base-font-size+($scale*2);
}


.italic {
    font-style: italic;
}

/** HEADER                                                                                                          
***********************/

header {
    height: 84px;
    line-height: 84px;
    background: #1a1a1a;
    position: relative;
    z-index: 100;
    a#logo {
        font-size: 1.2em;
        font-weight: bold;
        display: block;
        position: absolute;
        top: 0;
        left: 20px;
        color: #fff;
        text-transform: uppercase;
        text-decoration: none;
        &:hover {
            text-decoration: none;
            color: #f7f7f7;
        }
    }
}

/** FOOTER                                                                                                          
*******************/

footer {
    padding: 30px 0;
    background: #1a1a1a;
    font-size: 0.85em;
    color: #777;
    position: absolute;
    width: 100%;
}
footer a,
footer a:link,
footer a:focus {
    color: #999;
    @extend .transitionKind;
    &:hover {
        color: #fff;
    }
}

/** Sprite 
************************/

.icon {
    width: 50px;
    height: 50px;
    display: inline-block;
    margin: 0 5px;
    background: url("./../assets/icons.png");
}
$xpos: 0;
$ypos: 0;
$offset: -50px;
@for $i from 1 through 8 {
    .item-#{$i} {
        @extend .icon;
        background-position: $xpos $ypos;
        &:hover {
            background-position: $offset $ypos;
        }
    }
    $ypos: $i*$offset;
}

/** Responsive design                                                                                                    
**********************/

@media (max-width: 600px) {
    .col {
        width: 100%;
        max-width: 100%;
        float: none;
        margin: 0 0 30px !important;
    }
    header {
        height: 50px;
        line-height: 50px;
    }
    h1 {
        font-size: 2.6em;
    }
    header a#logo {
        left: 20px;
    }
    footer p.floatLeft,
    footer p.floatRight {
        display: block;
        width: 100%;
        float: none;
        margin-bottom: 20px;
    }
}

/*# sourceMappingURL=c0.css.map */